#home{
    background-color: green;
    border-radius: 4px;
    color: white;
}

#RCBteam{
    background-color: rgb(182, 13, 13);
    color: gold;
}

#VKimg{
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(49, 48, 48);
}

#Fafimg{
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(49, 48, 48);
}

#GMimg{
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(49, 48, 48);
}

#MSimg{
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(49, 48, 48);
}

#CSKteam{
    background-color: rgb(255, 255, 20);
    color: orangered;
    width: 150px;
    text-align: left;
    border-radius: 5px;
}

#MIteam{
    background-color: rgb(5, 5, 126);
    color: green;
    width: 300px;
    text-align: left;
    border-radius: 5px;
}

#SRHteam{
    background-color: black;
    color: orangered;
    width: 150px;
    text-align: left;
    border-radius: 5px;
}

